<div class="document-container">
    <div class="table-container">
    <table class="document-table table table-bordered">
      <thead>
        <tr>
          <th>Document</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of documents">
          <td>{{ document }}</td>
          <td>
            <button type="button" class="btn btn-success" (click)="Download(document)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
